#region-main-box {
  #region-main {
    background-color: transparent;

    div[role="main"] {
      padding-left: unset;
      padding-right: unset;
    }
  }
}

.stablez-secondary-navigation .navigation {
  margin: unset;
  border-radius: 8px;
}

.drawers .admin-blocks-region {
  background-color: transparent;
  border: 0;
  padding-inline: 0;

  .block-pos-desc {
    margin-bottom: 8px;
  }

  .admin-blocks-inner {
    .px-3 {
      padding-inline: 0 !important;
    }
  }
}

// Course card background

.page-content:has(#frontpage-available-course-list) {
  background: $B-0;
}

#frontpage-available-course-list {
  h2 {
    font-size: 36px;
    font-weight: 600;
    color: $N-50;
    margin-bottom: 24px;
  }
}

@media (max-width: 640px) {
  #frontpage-available-course-list {
    h2 {
      font-size: 28px;
    }
  }
}
