.btn-primary {
    background: $primary-btn;
    border-color: $primary-btn;

    &:hover {
        background-color: $primary-btn-hover;
        border-color: $primary-btn-hover;
    }
}

.btn-outline-primary {

    &:hover {
        background-color: $primary-btn-hover;
        border-color: $primary-btn-hover;
    }
}

.btn-secondary {
    background: $secondary-btn;
    border-color: $secondary-btn;

    &:hover {
        background-color: $secondary-btn-hover;
        border-color: $secondary-btn-hover;
    }
}

.btn-outline-secondary {
    &:hover {
        background-color: $secondary-btn-hover;
        border-color: $secondary-btn-hover;
    }
}

.singlebutton .btn-secondary,
#toggle-contact-button {
    border-radius: 4px !important;
    border: 1px solid $primary;
    background-color: transparent;
    padding: 10px 24px;
    transition: all 0.2s ease;
    font-size: 14px;

    &:hover {
        background-color: $primary-btn-hover;
        border-color: $primary-btn-hover;
        color: #fff;
    }
}

.banner-cta {
    .banner-cta-link {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        padding: 16px 24px;
        border-radius: 4px;
        display: block;
        width: fit-content;
    }

    .btn-secondary {
        border-color: $primary-btn-hover;
    }

    .btn-outline-primary {
        border-color: $primary-btn-hover;
        border: 1px solid #fff;

        &:hover {
            background-color: $primary-btn-hover;
            border-color: $primary-btn-hover;
            transition: all 0.2s ease;
        }
    }
}

.view-card-link {
    align-items: center;
    border: 1px solid $B-20 !important;
    padding: 10px 24px;
    transition: all .3s ease;

    img {
        transition: all 0.2s ease;
        margin-left: 6px;
        width: 14px;
    }

    &:hover {
        background-color: $primary-btn-hover;
        border: 1px solid $primary-btn-hover !important;
        color: #fff;
        border-color: $primary-btn;
    }
}

.view-all-course {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 24px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: $primary-btn;
    border-color: $primary-btn;

    &:hover {
        background-color: $primary-btn-hover;
        border-color: $primary-btn-hover;
    }
}

#message-user-button {
    border: 1px solid $primary-btn !important;
    font-size: 14px;
    padding: 10px 24px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
    background: $primary-btn;

    .fa-message {
        margin-right: 0;
    }

    &:hover {
        background: $primary-btn-hover;
        border-color: $primary-btn-hover !important;
    }
}

// Login and new account button
.unauthenticated-user {
    display: flex;
    align-items: center;
    gap: 12px;

    .btn-login,
    .btn-register-account {
        font-size: 14px;
        line-height: 1.2;
        transition: all 0.2s ease;
        padding: 10px 24px;
        border: 1px solid $B-20 !important;
        border-radius: 4px;
    }

    .btn-login {
        font-weight: 600;
        color: $B-20;

        &:hover {
            color: $white;
            background: $primary;
            // background: $B-20;
        }
    }

    .btn-register-account {
        color: $white;
        // background: $B-20;
        background: $primary;

        &:hover {
            // background: $B-30;
            background: $primary;
        }
    }
}