// Start Guidline
.stablez-block-start-guideline {
    padding-inline: 16px;
    margin-top: 40px;

    .card-title {
        font-size: 36px;
        font-weight: 400;
    }

    .card-body {
        padding: 0 !important;
    }


    .start-guideline {
        margin-bottom: 32px;

        .row {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(23rem, 100%), 1fr));
            gap: 32px;
        }
    }

    .start-guideline-item {
        padding: 20px;
        text-align: center;
        box-shadow: 10px 10px 50px 3px rgba(95, 95, 99, 0.11);
        border-radius: 12px;
        background: $white;

        img {
            width: 72px;
            height: 72px;
        }

        p {
            color: $N-30;
            font-size: 14px;
            line-height: 1.4;
        }

        .title {
            margin-top: 30px;
            color: $N-40;
            font-size: 22px;
            line-height: 1.4;
            font-weight: 500;
        }
    }

    @include mq(sm, max) {
        .block_stablez-start-guideline {
            .card-title {
                font-size: 24px;
            }
        }
    }

    @include mq(xl, min) {
        .start-guideline {
            .row {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}